@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css);



*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #201D34;
  background-color: white;
}

.site-header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 64px;
  border-bottom: 1px solid rgb(207, 207, 207);
}

.site-header-nav ul {
  display: flex;
  margin: 0;
  min-width: 390px;
  min-height: 100px;
  justify-content: space-between;
  align-items: center;

}

.site-header-nav ul li {
  list-style: none;
  height: 103px;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.site-header-nav ul li a {

  color: inherit;
  font-weight: 600;
}

select {

  border: none;
  padding: 2px;
  font-size: 18px;
  border-radius: 10px 10px 10px 10px;

}



option {

  border: none;
}

.site-header-nav img {
  max-height: 100px;
  border-radius: 50%;
  padding: 4px 0px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 57px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #201D34;
  -webkit-transition: .4s;
  transition: .4s;

}

.slider:before {
  position: absolute;
  font: var(--fa-font-solid);
  text-align: center;
  font-size: 24px;
  content: "\f042";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 1px;
  color: #201D34;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #F53373;
}

input:focus+.slider {
  box-shadow: 0 0 1px #F53373;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#hamburger-btn{
  display: none;
  width: 50px;
  height: 50px;
  padding: 1px 1px 1px 1px;
  font-size: 35px;
  font-weight: 700;
  border: none;
  background-color: inherit;
  color: inherit;
}

#btn-close {
  display: none;
}

#btn-close button{
  font-size: 24px;
  font-weight: 700;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgb(179, 179, 179);
  padding: 0;
}

main {
  padding: 70px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sandwitch-img {
  max-width: 70%;
}

.content-1 {
  width: 60%;
  text-align: center;
  font-size: 18px;
  border-bottom: 2px solid;
  padding-bottom: 50px;
}

.content-1-heading {
  font-size: 3em;
  line-height: 4.4rem;
}

.content-1-paragraph {
  font-size: 1.2em;
  line-height: 1.4em;
  margin-bottom: 60px;
}

.content-1-a {

  font-size: 1.2em;
  font-weight: 700;
  color: white;
  padding: 15px 25px;
  background: linear-gradient(90deg, rgba(243, 52, 118, 1) 0%, rgba(192, 80, 228, 1) 100%);
  border-radius: 25px;
}

.content-2-heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.content-2-heading h2 {
  font-size: 2.8em;
  margin: 1.8em 0;
}

.content-2-heading a {
  font-size: 1.1em;
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid;
  padding-bottom: 15px;
}

.content-2-posts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content-2-posts a {
  color: inherit;
}

.img-container-post {
  width: 340px;
  height: 190px;

}

.img-feature-posts {
  width: 100%;
  height: 100%;

}

h3 {
  width: 320px;
  font-size: 24px;
  margin-bottom: 40px;

}

.heading-icons {
  font-size: 44px;
  margin: 50px auto;
}

.container-icons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.box-icon-content {
  max-width: 8.2em;
}

.icon-text {
  max-width: 100%;
  word-wrap: break-word;
  font-weight: 600;
  line-height: 26px;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 8.2em;
  height: 8.2em;
  border-radius: 50%;
  border: 2px solid;
}

.icon-box i {
  font-size: 60px;
}

.clients {
  width: 60%;
  text-align: center;
}

.clients h2 {
  margin: 1.4em 0;
  font-size: 2.8em;
}

.carousel {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  align-items: center;
  width: 100%;
  color: inherit;
}

.carousel button {
  border: none;
  background-color: transparent;
  font-size: 34px;
  color: inherit;
  cursor: pointer;
}

.user-picture {
  width: 85px;
  height: 85px;
  border-radius: 50%;
}

.user-comment {
  max-width: 350px;
  min-height: 200px;
  line-height: 165%;
}

.user-indicator {
  display: inline-block;
  width: 30px;
  height: 5px;
  background-color: rgb(194, 192, 192);
}

.newsletter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 70px 0px;
  width: 60%;
  border: 1.5px solid;
  border-radius: 10px 10px 10px 10px;
  border-top: 8px solid;
}

.newsletter-container h2 {
  margin-bottom: 10px;
  font-size: 2.8em;
  text-align: center;
}

.newsletter-container p {
  max-width: 75%;
  line-height: 25px;
  text-align: center;
  color: hsl(254, 13%, 62%);
  margin: 0;
}

.email-input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 40px 0;

}

.email {
  border: 1px solid;
  border-radius: 20px 20px 20px 20px;
  width: 40%;
  height: 45px;
  padding: 0 10px;
  font-size: 16px;
}

.sign-up {
  border: none;
  border-radius: 20px 20px 20px 20px;
  width: 18%;
  height: 45px;
  background: linear-gradient(90deg, rgba(243, 52, 118, 1) 0%, rgba(192, 80, 228, 1) 100%);
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.site-footer {
  background-color: #f8f4f6;
  padding: 40px 20px 40px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  color: #201D34;
}

.site-footer-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-footer-nav ul li {
  margin: 3px 0px;

}

.site-footer-nav ul li a {
  color: #201D34;

}

.site-footer-img {
  max-width: 150px;
  opacity: 0.2;
}

.site-footer-img:hover {
  opacity: 1;
}

.site-footer-text p {
  margin: 3px;
  text-align: end;
}



@media all and (max-width:850px) {

  .site-header-nav ul {
    border-right: 0.5px solid;
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 10;
    background: white;
    top: 105px;
    left: 0px;
    padding: 0;
    height: 100vh;
  }

  #hamburger-btn{
    display: block;
  }

  #btn-close {
    display: inline;
    position: absolute;
    right: 30px;
    top: 30px
  }

  main {
    padding: 70px 10px;

  }

  .sandwitch-img {
    width: 100%;
  }

  .content-1-heading {
    font-size: 35px;
    line-height: 1.1em;
  }

  section {
    width: 100%;
  }

  .content-2-heading {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .content-2-posts {
    justify-content: center;
  }

  .email-input-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .newsletter-container {
    width: 100%;
  }

  #user-comment {
    width: 285px;
  }

  .email {
    width: 80%;
  }

  .sign-up {
    width: 80%;
  }

  .site-footer{
    justify-content: space-around;
    align-items: center;
    gap: 35px
  }

  .site-footer p {
    text-align: center;
  }
}